<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <h1 class="jumbotron text-center">Angular 2 / Firebase</h1>
    <div class="panel panel-default">
      <div class="panel-heading">  
        <button class="btn btn-default" (click)="reverseList()">Toggle list order</button>
      </div>
      <div class="panel-body">
        <ul id="id01">
          <!--<li class="list-item clearfix" id="{{i}}" [ngClass]="{'className': activeId == i}" *ngFor="let item of items | async; let i=index">-->
          <li class="list-item clearfix" id="{{i}}" *ngFor="let item of items | async" let i="index">
            <span id="(item.listitem)" class="item-value">{{item.listitem}}</span>
            <input type="text" class="form-control" placeholder="Edit" (keyup.enter)="update($event.target.value, item)" />
            <span (click)="remove(item)" class="glyphicon glyphicon-remove"></span>
            <span (click)="showEdit($event.target)" class="glyphicon glyphicon glyphicon-pencil"></span>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="message" *ngIf="(user | async)?.uid" placeholder="Add to list" (keyup.enter)="Send($event.target.value)" [(ngModel)]="msgVal" />
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default" (click)="login()" *ngIf="!(user | async)?.uid">Anonymous Login</button>
      <button type="button" class="btn btn-default" (click)="logout()" *ngIf="(user | async)?.uid">Logout</button>
    </div>
  </div>
</div>

